services:
  postgres:
    image: postgres:18-alpine
    container_name: dev-postgres
    restart: no
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./data:/var/lib/postgresql/18/docker
