version: '3.8'

services:
  redis:
    image: redis:8-alpine
    container_name: dev-redis
    restart: no
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - ./data:/data
